</div>

  <footer class="main" role="main">
    <div class="content-width">
      <nav>
        <ul>
          <li class="top-level"><h2><a href="{path='about'}">About Us</a></h2></li>
          {exp:channel:entries channel="about" disable="categories|category_fields|member_data|pagination" dynamic="off"}
          <li><a href="{title_permalink='about/'}">{title}</a></li>
          {/exp:channel:entries}
        </ul>
        <ul>

          <li class="top-level"><h2><a href="{path='sermons'}">Sermons</a></h2></li>
          {exp:channel:entries channel="sermons" disable="categories|category_fields|member_data|pagination" dynamic="off"}
          <li><a href="{title_permalink='sermons/'}">{title}</a></li>
          {/exp:channel:entries}
        </ul>
        <ul>

          <li class="top-level"><h2><a href="{path='flocks'}">Flocks</a></li></a></h2></li>
          {exp:channel:entries channel="flocks" disable="categories|category_fields|member_data|pagination" dynamic="off"}
          <li><a href="{title_permalink='flocks/'}">{title}</a></li>
          {/exp:channel:entries}
        </ul>
        <ul>
          <li class="top-level"><h2><a href="{path='ministries'}">Ministries</a></h2></li>
          {exp:channel:entries channel="ministries" disable="categories|category_fields|member_data|pagination" dynamic="off"}
          <li><a href="{title_permalink='ministries/'}">{title}</a></li>
          {/exp:channel:entries}
        </ul>
        <ul>
          <li class="top-level"><h2><a href="{path='news-and-events'}">News and Events</a></h2></li>
          {exp:channel:entries channel="news" disable="categories|category_fields|member_data|pagination" dynamic="off"}
          <li><a href="{path='news-and-events'}">{title}</a></li>
          {/exp:channel:entries}
        </ul>
      </nav>
      
      <address>
        <a href="http://maps.google.com/maps?q=2738+Pennyroyal+Road,+Miamisburg,+OH&oe=utf-8&client=firefox-beta&channel=fflb&hnear=2738+Pennyroyal+Rd,+Miamisburg,+Warren,+Ohio+45342&gl=us&t=m&z=16" class="url" target="_blank">2738 Pennyroyal Road, Miamisburg, OH</a><br>
        P.O. Box 327<br>
        Springboro, Ohio 45066
        <span class="phone">(937) 885-2143</span><br>
        <a href="mailto:contact@clearcreekchapel.org">contact@clearcreekchapel.org</a>
      </address>

      
      <small>© Copyright 2013 <a href="{path=''}" class="url">Clearcreekchapel.org</a></small> 
      
    </div>
  </footer>
  

  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB0NH4LJUHxjG-qVZZPI0nrsYzHQiNgYio&sensor=false"></script>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script src="/assets/js/jquery-1.7.2.min.js"><\/script>')</script>
  
  <script src="/assets/js/plugins.js"></script>
  <script src="/assets/js/script.js"></script>
  <script src="/assets/js/helper.js"></script>
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
  
    ga('create', 'UA-39869646-1', 'clearcreekchapel.org');
    ga('send', 'pageview');
  
  </script>
</body>
</html>