  <header class="main" role="main">
    <div class="content-width">
      <h1><a href="{path=''}"><img src="/assets/img/logo.png" alt="Clearcreek Chapel Logo">Clearcreek Chapel</a></h1>
      
      <nav>
        <a href="#" class="menu-link">Menu</a>
        
        <ul class="main-nav">
          <li class="home"><a href="{path=''}">Home</a></li>
          <li><a href="{path='about'}">About Us</a></li>
          <li><a href="{path='sermons'}">Sermons</a></li>
          <li><a href="{path='flocks'}">Flocks</a></li>
          <li><a href="{path='ministries'}">Ministries</a></li>
          <li><a href="{path='news-and-events'}">News & Events</a></li>
        </ul>
      </nav>
    </div>
  </header>
