// ==========================================================

// Clearcreek Chapel

// ==========================================================

/* 1200 =================================================== */


.content-width {
  max-width: 1200px;
}

.hero {
  .overview {
    @include font-size(1);
  }
}

.subnav {
  ul {
    li {
      a.block {
        h1 {
          @include font-size(.9);
          top: 80%;
        }
      }
    }
  }
}