// ==========================================================

// Clearcreek Chapel

// ==========================================================


.featured-blocks {
  .block {
    &.first { 
      background-image: url(../img/featured-block-flocks-2x.jpg); 
      background-size: 383px 258px; 
    }
    
    &.second {
      background-image: url(../img/featured-block-sermons-2x.jpg); 
      background-size: 383px 258px;
    }
    
    &.third {
      background-image: url(../img/featured-block-news-2x.jpg); 
      background-size: 383px 258px;
    }
  }
}
