// ==========================================================

// Clearcreek Chapel

// ==========================================================

/* 600 =================================================== */

header[role="main"],
header.main {
  padding-bottom: .5em;
  
  nav {
    width: 100%;
    
    .menu-link {
      display: none;
    }
    
    ul {
      margin-top: 1em;
      display: block !important;
      width: 100%;
      @include font-size(.95);
      text-align: center;
      
      li {
        display: inline-block;
        width: auto;
        float: none;
        
        a {
          padding: .5em .7em;
        }
      }
    }
  }
}

.featured-blocks {
  .block {
    padding-top: 1.5em;
    padding-bottom: 1.5em;
  }
}


.subnav {
  ul {
    li {
      display: block;
      float: left;
      max-width: 31.9%;
      width: 31.9%;
      margin-right: 2.4%;
      
      &:nth-child(2n+2) {
        margin-right: 2.4%;
        clear: none;
      }
      
      &:nth-child(3n+3) {
        margin-right: 0;
        margin-left: -1%;
        float: right;
      }
      
      &.two-cols {
        width: 66.06%;
        max-width: 66.06%;
        margin-right: 0;
        float: right;
      }
    }
  }
}



.content {
  h1.page-title {
    margin-bottom: 1em;
    @include font-size(2.5);
  }
}

.page-content {
  table.styled {
    @include font-size(1);
    
    th, td {
      padding: .5em 1em;
    }
    
    &.cols4 {
      width: auto;
    }
  }
}

.listing {
  margin-top: 4em;
  
  summary {
    clear: both;
    
    img {
      float: right;
      margin: 0;
      padding: 0 0 1em 1.5em;
      max-width: 25%;
    }
  }
  
  &.elders {
    summary {
      img {
        max-height: 186px;
      }
    }
  }
}
