// ==========================================================

// Clearcreek Chapel

// ==========================================================

/* 960 =================================================== */


.content-width { 
  text-align: left;  
}

header[role="main"],
header.main {
  padding: 1em 0;

  h1 {
    float: left;
    
    img {
      max-width: 45px;
    }
  }
  
  nav {
    float: right;
    width: auto;
    margin-top: .2em;
    
    .menu-link {
      display: none;
    }
    
    ul {
      margin: 0;
      display: block !important;
      width: auto;
      float: right;
      @include font-size(.95);
      
      li {
        display: block;
        width: auto;
        float: left;
        margin: 0 0 0 1.2em;
        
        a {
          padding: 0;
          
          &:hover {
            background: $primary;
            color: $white;
          }
        }
      }
    }
  }
}

.hero {
  img {
    max-width: 66.25%;
    width: 66.25%;
    float: left;
    margin-bottom: 1.28%;
  }
  
  .overview {
    float: right;
    width: 32.6%;
    padding-bottom: 27.85%;
    @include font-size(.85);
    position: relative;
    
    .inner {
      position: absolute;
      left: 0;
      top: 0;
      
      img {
        width: auto;
        max-width: 100%;
      }
    }
  }
}


.featured-blocks {
  clear: both;
  
  .block {
    width: 32.5%;
    float: left;
    margin-right: 1.2%;
    text-align: left;
    min-height: 10em;
    margin-top: .4em;
    @include transition(all .3s);
    padding-top: .5em;
    padding-bottom: .5em;
    
    h1 {
      @include font-size(1.5);
    }
    
    &.first { 
      background-position: right 0; 
    }
    
    &.second {
      background-position: right 0; 
    }
    
    &.third {
      background-position: right 0; 
      margin-right: 0;
    }
    
    &:hover {
      /*&.first { 
        background-position: right -5px; 
      }
      
      &.second {
        background-position: right -5px; 
      }
      
      &.third {
        background-position: right -5px; 
        margin-right: 0;
      }*/
    }
  }
}

.subnav {
  ul {
    margin: 0;
    text-align: left;
    
    li {
      float: left;
      display: block;
      @include font-size(1);
      width: 15.6%;
      margin: 0 1.28% 0 0;
      text-align: center;
      
      a.block {
        margin: 0;
        
        h1 {
          @include font-size(.75);
          padding: 0 .5em;
        }
      }
      
      &:nth-child(2n+2) {
        margin-right: 1.28%;
        clear: none;
      }
      
      &:nth-child(3n+3) {
        margin-right: 1.28%;
        clear: none;
        float: left;
        margin-left: 0;
      }
      
      &:nth-child(6n+6),
      &:last-child {
        margin-right: 0;
      }

      &.two-cols {
        width: 32.48%;
      }
    }
  }
}

.content {
  margin-bottom: 2em;
  
  .page-overview,
  .page-content {
    float: left;
    width: 65%;
  }
  
  aside {
    border-top: 0;
    margin-top: 0;
    padding-top: 0;
    float: right;
    width: 30%;
  }
}



footer[role="main"],
footer.main {
  padding: 1em 0;
  @include font-size(.8);
  text-align: left;
  
  nav {
    display: block;
    max-width: 81%;
    width: 83%;
    
    ul {
      float: left;
      width: 18%;
      clear: none;
      margin-right: 1%;
      
      li {
        display: block;
        width: 100%;
        margin-bottom: .5em;
        
        &.top-level {
          display: block;
        }
      }
    }
  }
  
  address {
    float: right;
    width: 17%;
    clear: none;
  }

  small,
  span,
  a {
    display: inline-block;
    margin-right: 1em;
  }
  
  small {
    width: 100%;
    padding: 2em 0;
  }
}