/**
 * Project Name DropKick theme
 *
 * Feel free to edit the default theme
 * or even add your own.
 *
 * See the readme for themeing help
 *
 */

/***** Begin Theme, feel free to edit in here! ******/


/* One container to bind them... */
.dk_container {
  background-color: $inputbkg;
  font-family: $secondaryfont;
  font-weight: 100;
  font-style: italic;
  line-height: 14px;
  margin-bottom: 18px;
  width: 300px;
}

  .dk_container:focus {
    outline: none;
    border: 1px solid darken($inputborder, 10%);
    background: lighten($inputbkg, 1%);
  }
  .dk_container a {
    cursor: pointer;
    text-decoration: none;
    color: $inputtext;
    padding: .3em .5em;
  }
  
  ul {
    margin: 0;
    padding: 0;
  }
  
  .dk_label {
    padding: .2em .5em .4em 0;
    display: block;
  }

/* Opens the dropdown and holds the menu label */
.dk_toggle {
  /**
   * Help: Arrow image not appearing
   * Try updating this property to your correct dk_arrows.png path
   */
  background-image: url('../img/form-arrow-down.png');
  background-repeat: no-repeat;
  background-position: 95% center;
  border: 1px solid $inputborder;
  -webkit-transition: border-color .5s;
  -moz-transition: border-color .5s;
  -o-transition: border-color .5s;
  transition: border-color .5s;
  width: 100% !important;
  padding: .3em .5em;
  color: $inputtext;
  @include font-size(1.2);
  display: block;
}
  .dk_toggle:hover {
    border-color: lighten($inputbkg, 1%);
    color: $primary;
    border: 1px solid darken($inputborder, 10%);
  }
  /* Applied when the dropdown is focused */
  .dk_focus .dk_toggle {
    border-color: $inputborder;
  }
  .dk_focus .dk_toggle {

  }

/* Applied whenever the dropdown is open */
.dk_open {
 
  /**
   * Help: Dropdown menu is covered by something
   * Try setting this value higher
   */
  z-index: 10;
}
  .dk_open .dk_toggle {
    background-color: $inputbkg;
    border-color: $inputborder;
    color: $inputtext;

  }

/* The outer container of the options */
.dk_options {
  @include font-size(1.2);
}
  .dk_options a {
    background-color: #fff;
    border-bottom: 1px solid $inputborder;
    display: block;
    font-family: $tertiaryfont;
    font-style: normal;
    @include font-size(.9);
    color: $primary;
  }
  .dk_options li:last-child a {
    border-bottom: none;
  }
  .dk_options a:hover,
  .dk_option_current a {
    background-color: $inputbkg;
    border-bottom-color: $inputborder;
    color: $secondary;
    text-decoration: none;
  }
  
  .dk_option_current a {
    color: $inputtext;
  }

/* Inner container for options, this is what makes the scrollbar possible. */
.dk_options_inner {
  border: 1px solid $inputborder;
  border-bottom-width: 2px;
  border-bottom-color: $inputborder;
  color: $inputtext;
  max-height: 250px;
  list-style: none;
  margin: 0;
  padding: 0;
  
  li {
    display: block;

    a {
      padding: .5em .5em;
      display: block;
    }
  }
}

/* Set a max-height on the options inner */
.dk_options_inner,
.dk_touch .dk_options {
  max-height: 250px;
}

/******  End Theme ******/

/***** Critical to the continued enjoyment of working dropdowns ******/

.dk_container {
  display: none;
  float: left;
  position: relative;
}
  .dk_container a {
    outline: none;
  }

.dk_toggle {
  display: block;
//  display: -moz-inline-stack;
//  display: inline-block;
//  *display: inline;
  position: relative;
  zoom: 1;
}

.dk_open {
  position: relative;
}
  .dk_open .dk_options {
    display: block;
  }
  .dk_open .dk_label {
    color: inherit;
  }

.dk_options {
  display: none;
  margin-top: -1px;
  position: absolute;
  right: 0;
  width: 100%;
}
  .dk_options a,
  .dk_options a:link,
  .dk_options a:visited {
    display: block;
  }
  .dk_options_inner {
    overflow: auto;
    position: relative;
  }

.dk_touch .dk_options {
  overflow: hidden;
}

.dk_touch .dk_options_inner {
  max-height: none;
  overflow: visible;
}

.dk_fouc select {
  position: relative;
  top: -99999em;
  visibility: hidden;
}

/***** End Critical to the continued enjoyment of working dropdowns ******/

