// ==========================================================

// Project Name

// ==========================================================

/* Fonts =================================================== */


//@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,300,700,800);


/*  Font Awesome
    the iconic font designed for use with Twitter Bootstrap
    -------------------------------------------------------
    The full suite of pictographic icons, examples, and documentation
    can be found at: http://fortawesome.github.com/Font-Awesome/

    License
    -------------------------------------------------------
    The Font Awesome webfont, CSS, and LESS files are licensed under CC BY 3.0:
    http://creativecommons.org/licenses/by/3.0/ A mention of
    'Font Awesome - http://fortawesome.github.com/Font-Awesome' in human-readable
    source code is considered acceptable attribution (most common on the web).
    If human readable source code is not available to the end user, a mention in
    an 'About' or 'Credits' screen is considered acceptable (most common in desktop
    or mobile software).

    Contact
    -------------------------------------------------------
    Email: dave@davegandy.com
    Twitter: http://twitter.com/fortaweso_me
    Work: Lead Product Designer @ http://kyruus.com

    */

@font-face {
  font-family: 'FontAwesome';
  src: url('../fonts/FortAwesome-Font-Awesome-ee55c85/fontawesome-webfont.eot');
  src: url('../fonts/FortAwesome-Font-Awesome-ee55c85/fontawesome-webfont.eot?#iefix') format('eot'), url('../fonts/FortAwesome-Font-Awesome-ee55c85/fontawesome-webfont.woff') format('woff'), url('../fonts/FortAwesome-Font-Awesome-ee55c85/fontawesome-webfont.ttf') format('truetype'), url('../fonts/FortAwesome-Font-Awesome-ee55c85/fontawesome-webfont.svg#FontAwesome') format('svg');
  font-weight: normal;
  font-style: normal;
}