// ==========================================================

// Clearcreek Chapel

// ==========================================================

/* Smallest ========================================= */


html {
  font-size: 16px;
  width: 100%;
  -webkit-text-size-adjust: none;
}

body {
  @include font-size(1);
  font-family: $basefont;
  color: $textcolor;
  font-weight: 100;
  width: 100%;
  background: $footerbkg;

  * {
    @include transition(.2s all);
  }
}

a { 
  text-decoration: none; 
  color: $linkcolor;
  @include transition(.2s all);
  
  &:hover {
    color: $senary;
  }
}

.wrapper {
  background: $white;
  float: left;
  width: 100%;
}

.content-width {
  max-width: 95%;
  margin: 0 auto;
  text-align: left;
}

img {
  max-width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  color: $primary;
  margin: 0;
  font-family: $baseheadingfont;
  font-weight: 100;
}

h1 {
  @include font-size(2);
}

p {
  margin-bottom: 1em;
}

.more {
  font-weight: 100;
  text-transform: uppercase;
  @include font-size(.8);
  margin-top: .5em;
  margin-bottom: 0;
}

header[role="main"],
header.main {
  background: $primary;
  color: $white;
  float: left;
  width: 100%;
  padding: 1em 0;
  margin-bottom: 1em;
  
  .content-width {
    text-align: center;
  }
  
  h1 {
    color: $white;
    font-family: $altfont;
    font-weight: 100;
    text-transform: uppercase;
    @include font-size(1.1);
    @include text-shadow(0 1px 0 rgba(0,0,0,.2));
    letter-spacing: 1px;
    display: inline-block;
    
    img {
      display: inline-block;
      margin-right: .5em;
      margin-top: -1px;
      float: left;
      max-width: 58px;
      width: 58px;
    }
    
    a {
      color: $white;
      
      &:hover {
        color: $primarylighter;
      }
    }
  }
  
  nav {
    float: left;
    width: 100%;
    
    .menu-link {
      display: inline-block;
      color: $white;
      text-transform: uppercase;
      font-weight: 700;
      @include font-size(.9);
      margin: 1em auto 0;
      
      &:before {
        content: "\f0c9";
        display: inline-block;
        margin-right: .5em;
        font-family: 'FontAwesome';
      }
      
      &:hover {
        color: $primarylighter;
      }
    }
    
    ul {
      margin: 1em 0 0;
      display: none;
      width: 100%;
      float: right;
      @include transition(none);
      @include font-size(.8);
      
      li {
        display: block;
        width: 50%;
        float: left;
        margin: .2em 0;
        
        a {
          display: block;
          color: $primarylighter;
          padding: .5em 0;
          
          &:hover {
            background: $primarylighter;
            color: $white;
            @include text-shadow(0 1px 1px rgba(0,0,0,.3));
          }
          
          &.on {
            color: $white;
          }
        }
      }
    }
  }
}

.hero {
  margin-bottom: 2%;
  
  img {
    margin-bottom: 2%;
    width: 100%;
  }
  
  .overview {
    color: $primary;
    padding: 1em;
    font-family: $altfont;
    padding: 0;
    @include font-size(.9);
    line-height: 1.4em;
    background: $primarylighter;
    overflow: hidden;
    
    .inner {
      padding: 1em;
      color: $primary;
      
      h1 {
        color: $white;
        font-family: $baseboldfont;
        padding-bottom: .5em;
        @include font-size(1.5);
        font-weight: 100;
      }
      
      h2, h3, h4, h5, h6 {
        font-family: $altfont;
        display: block;
        font-weight: 900;
      }
      
      img {
        width: auto;
        max-width: 100%;
      }
      
      a {
        color: $white;
        
        &:hover {
          color: $primary;
        }
      }
    }
  }
}

.bread {
  text-transform: uppercase;
  @include font-size(.8);
  font-weight: 500;
  color: darken($bordercolor, 10%);
  padding: 1em 0;
  clear: both;
  
  .crumb {
    margin: 0 .5em;
    
    &:first-child {
      margin-left: 0;
    }
    
    &.home {
      &:before {
        font-family: 'FontAwesome';
        content: "\f015";
        display: inline-block;
        margin-right: .5em;
      }
    }
  }
  
  a {
    color: darken($bordercolor, 10%);
    
    &:hover {
      color: $primary;
    }
  }
}

.featured-blocks,
.subnav {
  padding-bottom: 2em;
  
  .block {
    margin: 1em 0 1em 0;
    display: block;
    color: $white;
    cursor: pointer;
    font-weight: 100;
    
    h1 {
      display: block;
      @include font-size(1.5);
      font-weight: 100;
      color: $white;
    }
    
    &.first { 
      background: $quaternary url(../img/featured-block-flocks.jpg) no-repeat right top; 
    }
    
    &.second {
      background: $tertiary url(../img/featured-block-sermons.jpg) no-repeat right top; 
    }
    
    &.third {
      background: $secondary url(../img/featured-block-news.jpg) no-repeat right top; 
    }
      
    &:hover {
      //@include box-shadow(0 1px 5px rgba(0,0,0,.3));
      
      .more {
        color: $black;
      }
    }
  }
}

.featured-blocks {
  clear: both;
  
  .block {
    padding: .5em 1em;
    padding-right: 5em;
  }
}

.subnav {
  float: left;
  width: 100%;
  
  ul {
    list-style: none;
    text-align: center;
    
    li {
      display: block;
      float: left;
      max-width: 49%;
      width: 49%;
      margin: 0 2% 2% 0;
      padding: 0;
      
      a.block {
        text-transform: uppercase;
        font-weight: 700;
        line-height: 1.2em;
        position: relative;
        padding-bottom: 84.5%;
        margin-top: 0;
        margin-bottom: 0;
        
        h1 {
          display: block;
          @include font-size(.8);
          font-weight: 100;
          text-transform: lowercase;
          z-index: 1000;
          position: absolute;
          width: 100%;
          line-height: 1em;
          top: 75%;
          padding: 0 .5em;
          font-family: $baseboldfont;
        }
        
        img {
          display: block;
          position: absolute;
          z-index: 1000;
          width: 100%;
          margin: 0;
          padding: 0;
        }
        
        &:hover {
          h1 {
            color: $primary;
            color: rgba(0,0,0,.4);
          }
        }
      }
      
      &:nth-child(2n+2) {
        margin-right: 0;
      }
      
      &.two-cols {
        width: 100%;
        max-width: 100%;
      }
    }
  }
}


.content {
  clear: both;
  
  h1.page-title {
    @include font-size(2);
    font-weight: 100;
    color: $primarylighter;
    margin-bottom: .5em;
    padding-bottom: .5em;
    border-bottom: 1px solid $primarylighter;
    text-transform: uppercase;
  }
  
  time {
    display: block;
    text-transform: uppercase;
    @include font-size(.8);
    color: darken($bordercolor,20%);
  }
  
  summary {
    margin-bottom: 2em;
    padding-bottom: 2em;
    border-bottom: 1px solid $bordercolor;
    display: block;
    
    h1 {
      @include font-size(1.5);
      font-family: $baseheadingfont;
      font-weight: 100;
      color: $black;
      font-weight: 100;
    }
    
    em {
      font-family: $basefont;
      line-height: 1.5em;
      color: lighten($textcolor,20%);
    }
    
    cite, em {
      font-style: normal;
      display: block;
      @include font-size(.9);
    }
    
    img {
      margin-bottom: 1em;
      max-width: 100%;
    }
    
    &:last-child {
      border-bottom: none;
    }
  }
}

.page-content {
  line-height: 1.6em;
  
  h1, h2, h3, h4, h5, h6 {
    font-family: $basefont;
    font-weight: 100;
    line-height: 1.4em;
    margin-top: .5em;
  }
  
  h1 { @include font-size(2); color: $textcolor; font-family: $baseboldfont; margin-bottom: .5em; margin-top: 0; }
  h2 { @include font-size(1.75); color: $primarylighter; }
  h3 { @include font-size(1.5); color: $primarylighter; }
  h4 { @include font-size(1.25); color: $black; }
  h5 { @include font-size(1); color: $black; text-transform: uppercase; font-family: $baseboldfont; }
  h6 { @include font-size(1); color: lighten($black, 15%); font-family: $baseboldfont; }
  
  p {
    margin-bottom: 1em;
  }
  
  ul, ol {
    padding-left: 1.25em;
    margin-bottom: 1em;
  }
  
  blockquote {
    font-style: normal;
    @include font-size(1.1);
    color: $primarylighter;
    margin-bottom: 1em;
  }
  
  .feed, .listing {
    margin-top: 2em;
  }
  
  table.styled {
    width: 100%;
    max-width: 100%;
    margin-bottom: 1em;
    border-collapse: collapse;
    @include font-size(.7);
    line-height: 1.5em;
    
    th {
      background: darken($white, 5%);
    }
    
    th, td {
      border: 1px solid $bordercolor;
      padding: .2em .5em;
    }
    
    &.cols4 {
      width: 25%;
    }
  }
  
  #cc_map {
    width: 100%;
    height: 20em;
    background: darken($white, 5%);
  }
  
  .events {
    background: darken($white, 5%);
    
    font {
      font-family: $basefont;
      font-weight: 100;
      color: $textcolor;
      
      b {
        font-family: $baseboldfont;
        font-weight: 100;
        color: $black;
      }
    }
    
    hr {
      display: none;
    }
  }
}

aside {
  line-height: 1.7em;
  border-top: 5px solid $primary;
  padding-top: 2em;
  margin-bottom: 3em;
  
  h1, h2, h3, h4, h5, h6 {
    line-height: 1.4em;
    margin-top: .5em;
  }
  
  /*h1 { @include font-size(1.5); color: $primarylighter; margin-top: 0; }
  h2 { @include font-size(1.4); color: $black; }
  h3 { @include font-size(1.3); color: $black; }
  h4 { @include font-size(1.2); color: $black; }
  h5 { @include font-size(1.1); color: $black; text-transform: uppercase; font-family: $baseboldfont; }
  h6 { @include font-size(1); color: $black; font-family: $baseboldfont; }*/
  
  h1 { @include font-size(2); color: $textcolor; font-family: $baseboldfont; margin-bottom: .5em; margin-top: 0; }
  h2 { @include font-size(1.75); color: $primarylighter; }
  h3 { @include font-size(1.5); color: $primarylighter; }
  h4 { @include font-size(1.25); color: $black; }
  h5 { @include font-size(1); color: $black; text-transform: uppercase; font-family: $baseboldfont; }
  h6 { @include font-size(1); color: lighten($black, 15%); font-family: $baseboldfont; }
  
  ul, ol {
    padding-left: 1.25em;
    margin-bottom: 1em;
  }
  
  blockquote {
    font-style: normal;
    @include font-size(1);
    color: $primarylighter;
    margin-bottom: 1em;
  }
}

footer[role="main"],
footer.main {
  margin: 0 auto 2em;
  padding: 2em 0;
  @include font-size(.8);
  text-align: center;
  background: $footerbkg;
  clear: both;
  
  a {
    &:hover {
      color: $senary;
    }
  }
  
  nav {
    display: block;
    margin-bottom: 1em;
    
    ul {
      li {
        display: none;
        
        &.top-level {
          display: block;
          margin: 0 0 1em 0;
          
          h2 {
            font-weight: 100;
            font-family: $baseboldfont;
          }
        }
      }
    }
  }
  
  address {
    font-style: normal;
  }

  small,
  span,
  a {
    display: block;
    font-style: normal;
    color: $textcolor;
  }
  
  .phone {
    display: block;
  }
  
  small {
    clear: both;
  }
}