// ==========================================================

// Clearcreek Chapel

// ==========================================================

/* Variables =================================================== */

// greyscale

$black 			: rgb(0,0,0);
$darkgrey 		: lighten($black, 25%);
$grey 			: lighten($black, 50%);
$lightgrey 		: lighten($black, 75%);
$lightergrey 	: lighten($black, 90%);
$white 			: rgb(255,255,255);

/* Fonts
font-family:'HelveticaNeueW01-45Ligh';
font-family:'HelveticaNeueW01-75Bold';
font-family:'HelveticaNeueW01-55Roma';
*/

$bodycolor : $white;
$textcolor : rgb(99,100,102); // dark grey type #636466
$darkergrey: rgb(87,177,251);

$primary: #002752; // dark blue
$primarylighter: #57b1fb; // light blue #57b1fb

$secondary: #30bcbd; // bright teal
$tertiary: #fba61a; // bright orange
$quaternary: #a6cf39; // bright green
$quinary: #F5C115; // yellow
$senary: #ff2151; // magenta
$septenary: #AF26D7; // bright red



$blockquotetextcolor: $primary;

$bordercolor: #c7c9cb; // light grey bars
$footerbkg: #edeeef;

$basefont : 'HelveticaNeueW01-55Roma', Arial, sans-serif;
$basefontsize : 16;
$baselineheight : 1.5em;
$baseheadingfont : 'HelveticaNeueW01-45Ligh';
$baseheadingfontweight : normal;
$baseheadingfontcolor : inherit;
$baseboldfont: 'HelveticaNeueW01-75Bold';
$baseboldfontweight: normal;


$altfont : Georgia, Times, "Times New Roman";
$altlineheight : 1.35em;

$codefont : Monaco, Courier New, monospace;

// Links

$linkcolor 		    : $primarylighter;
$linkcolorhover 	: darken($linkcolor, 10);
$linkcolorvisited   : darken($linkcolorhover, 10);
$linkcolorfocus 	: darken($linkcolorvisited, 10);
