{exp:channel:entries channel="home" limit="1" disable="categories|category_fields|member_data|pagination"}
{embed="_includes/.doctype" entry_id="{entry_id}"}
    {/exp:channel:entries}

{embed="_includes/.header"}

  <section class="hero content-width">
    {exp:channel:entries channel="homepage_hero" limit="1" orderby="random" disable="categories|category_fields|member_data|pagination"}
    <img src="{home_banner_image}" alt="{home_banner_text}">
    {/exp:channel:entries}

{exp:channel:entries channel="home" limit="1" disable="categories|category_fields|member_data|pagination"}
    <section class="overview">
      <div class="inner">
        <h1>{home_overview_headline}</h1>
        {home_overview_paragraph}
      </div>
    </section>
  </section>
  
  <section class="featured-blocks content-width clearfix">
    <a class="block first" href="{path='{block_one_link}'}">
      <h1>{block_one_headline}</h1>
      <p>{block_one_paragraph}</p>
      <p class="more">{block_one_link_text}</p>
    </a>
    
    <a class="block second" href="{path='{block_two_link}'}">
      <h1>{block_two_headline}</h1>
      <p>{block_two_paragraph}</p>
      <p class="more">{block_two_link_text}</p>
    </a>
    
    <a class="block third" href="{path='{block_three_link}'}">
      <h1>{block_three_headline}</h1>
      <p>{block_three_paragraph}</p>
      <p class="more">{block_three_link_text}</p>
    </a>
  </section>

{/exp:channel:entries}
{embed="_includes/.footer"}