{preload_replace:current_channel="sermons"}
{exp:channel:entries channel="{current_channel}" limit="1" disable="categories|category_fields|member_data|pagination" entry_id="21"}

{embed="_includes/.doctype" entry_id="{entry_id}"}
{embed="_includes/.header"}

<section class="bread">
    <div class="content-width">
      <a href="{path=''}" class="home crumb">Home</a> \ <a href="{path='sermons'}" class="crumb">Sermons</a> \ <span class="crumb">Sermon Repository</span>
    </div>
  </section>
  
  <section class="content content-width clearfix">
    <h1 class="page-title">Latest Sermons</h1>
    
    <section class="page-content">
      {main_body_area}
{/exp:channel:entries}
      <div class="feed sermons">
        {exp:magpie url="http://www.sermonaudio.com/rss_source.rss?SourceID=thechapel&filter=mp3&sortby=date" limit="4" refresh="720"}
        {items}
          <summary>
          <time>{pubdate}</time>
          <h1>{title}</h1>
          {if "{itunes:author}" != ""}<cite>Speaker: {itunes:author}</cite>{/if}
          {if "{itunes:subtitle}" != ""}<em>Passage: {itunes:subtitle}</em>{/if}
          <!--<div class="audio-player"><audio id="player2" src="{enclosure@url}" type="audio/mp3" controls="controls"></div>-->
          <p class="more"><a href="{link}" target="_blank">View Details</a> and listen on SermonAudio.com</p>
          </summary>
        {/items}
        {/exp:magpie}
        
        <!--{exp:ajw_feedparser 
          url="http://www.sermonaudio.com/rss_source.rss?SourceID=thechapel&filter=mp3&sortby=date"
          cache_refresh="30"
          limit="10"

        }
        <summary>
          <time>{pubDate}</time>
          <h1>{title}</h1>
          <cite>Speaker: {itunes:author}</cite>
          {if "{itunes:subtitle}" != ""}<em>Passage: {itunes:subtitle}</em>{/if}
          <div class="audio-player"><audio id="player2" src="{enclosure@url}" type="audio/mp3" controls="controls"></div>
          <p class="more"><a href="{link}" target="_blank">View Details</a> on SermonAudio.com</p>
        </summary>
        {/exp:ajw_feedparser}-->
      </div>
      
      <a href="http://www.sermonaudio.com/source_detail.asp?sourceid=thechapel" target="_blank" class="more">More sermons available from SermonAudio.com</a>
      
    </section>
{exp:channel:entries channel="{current_channel}" limit="1" disable="categories|category_fields|member_data|pagination" entry_id="21"}    
    <aside>
      {sidebar_area}
    </aside>
  </section>
{/exp:channel:entries}

{embed="_includes/.footer"}
