{preload_replace:current_channel="about"}

{if "{segment_2}" == ""}

{exp:channel:entries channel="landing_pages" limit="1" disable="categories|category_fields|member_data|pagination" entry_id="2"}
{embed="_includes/.doctype" entry_id="{entry_id}"}

{embed="_includes/.header"}

  <section class="hero content-width">
    <img src="{section_banner_image}" alt="{section_banner_text}">
    
    <section class="overview">
      <div class="inner">
        <h1>{section_overview_title}</h1>
        {section_overview_paragraph}
      </div>
    </section>    
  </section>
{/exp:channel:entries}

  
  <section class="subnav">
    <nav class="content-width">
      <ul>
        {exp:channel:entries channel="{current_channel}" limit="6" orderby="date" sort="desc" disable="categories|category_fields|member_data|pagination"}
        <li>
          <a href="{title_permalink='{current_channel}'}" class="block">
            <img src="{preview_image}" alt="{title}">
            <h1>{title}</h1>
          </a>
        </li>
        {/exp:channel:entries}
      </ul>
    </nav>
  </section>

{if:else}

{exp:channel:entries channel="{current_channel}" limit="1" disable="categories|category_fields|member_data|pagination"}
{embed="_includes/.doctype" entry_id="{entry_id}"}

{embed="_includes/.header"}

  <section class="bread">
    <div class="content-width">
      <a href="{path=''}" class="home crumb">Home</a> \ <a href="{path='{current_channel}'}" class="crumb">About</a> \ <span class="crumb">{title}</span>
    </div>
  </section>
  
  <section class="content content-width clearfix">
    <h1 class="page-title">{title}</h1>
    
    <section class="page-content">
      {if "{segment_2}" == "location"}<div id="cc_map"></div>{/if}
      
      {main_body_area}
    </section>
    
    <aside>
      {sidebar_area}
    </aside>
  </section>
{/exp:channel:entries}
{/if}

{embed="_includes/.footer"}