{embed="_includes/.doctype" entry_id="{entry_id}"}

{embed="_includes/.header"}

  <section class="bread">
    <div class="content-width">
      <a href="{path=''}" class="home crumb">Home</a> \ <span class="crumb">Styleguide</span>
    </div>
  </section>
  
  <section class="content content-width clearfix">
    <h1 class="page-title">Entry Title</h1>
    
    <section class="page-content">
      <h1>H1 Heading</h1>
      <p>Paragraph text aenean eu leo quam. <a href="#">This text is linked</a> lacinia quam venenatis vestibulum. Donec ullamcorper nulla non metus auctor fringilla.</p>
      
      <p><b>Bold text</b> aenean eu leo quam. <i>Italic text</i> sem lacinia quam venenatis vestibulum. Donec ullamcorper nulla non metus auctor fringilla.</p>
      
      <h2>H2 Heading</h2>
      <p>Paragraph text aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec ullamcorper nulla non metus auctor fringilla.</p>
      
      <h3>H3 Heading</h3>
      <p>Paragraph text aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec ullamcorper nulla non metus auctor fringilla.</p>
      
      <h4>H4 Heading</h4>
      <p>Paragraph text aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec ullamcorper nulla non metus auctor fringilla.</p>
      
      <h5>H5 Heading</h5>
      <p>Paragraph text aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec ullamcorper nulla non metus auctor fringilla.</p>
      
      <h6>H6 Heading</h6>
      <p>Paragraph text aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec ullamcorper nulla non metus auctor fringilla.</p>
      
      <blockquote>Blockquote text curabitur blandit tempus porttitor. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</blockquote>
      
      <ul>
        <li>Unordered list item</li>
        <li>Unordered list item</li>
        <li>Unordered list item</li>
        <li>Unordered list item</li>
        <li>Unordered list item</li>
      </ul>
      
      <ul>
        <li>Ordered list item</li>
        <li>Ordered list item</li>
        <li>Ordered list item</li>
        <li>Ordered list item</li>
        <li>Ordered list item</li>
      </ul>
    </section>
    
    <aside>
      <h1>Sidebar H1 Heading</h1>
      <p>Paragraph text aenean eu leo quam. <a href="#">This text is linked</a> lacinia quam venenatis vestibulum. Donec ullamcorper nulla non metus auctor fringilla.</p>
      
      <p><b>Bold text</b> aenean eu leo quam. <i>Italic text</i> sem lacinia quam venenatis vestibulum. Donec ullamcorper nulla non metus auctor fringilla.</p>
      
      <h2>Sidebar H2 Heading</h2>
      <p>Paragraph text aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec ullamcorper nulla non metus auctor fringilla.</p>
      
      <h3>Sidebar H3 Heading</h3>
      <p>Paragraph text aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec ullamcorper nulla non metus auctor fringilla.</p>
      
      <h4>Sidebar H4 Heading</h4>
      <p>Paragraph text aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec ullamcorper nulla non metus auctor fringilla.</p>
      
      <h5>Sidebar H5 Heading</h5>
      <p>Paragraph text aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec ullamcorper nulla non metus auctor fringilla.</p>
      
      <h6>Sidebar H6 Heading</h6>
      <p>Paragraph text aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec ullamcorper nulla non metus auctor fringilla.</p>
      
      <blockquote>Blockquote text curabitur blandit tempus porttitor. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</blockquote>
      
      <ul>
        <li>Unordered list item</li>
        <li>Unordered list item</li>
        <li>Unordered list item</li>
        <li>Unordered list item</li>
        <li>Unordered list item</li>
      </ul>
      
      <ul>
        <li>Ordered list item</li>
        <li>Ordered list item</li>
        <li>Ordered list item</li>
        <li>Ordered list item</li>
        <li>Ordered list item</li>
      </ul>

    </aside>
  </section>

{embed="_includes/.footer"}