{preload_replace:current_channel="news"}


{exp:channel:entries channel="landing_pages" limit="1" disable="categories|category_fields|member_data|pagination" entry_id="25"}
{embed="_includes/.doctype" entry_id="{entry_id}"}

{embed="_includes/.header"}

   <section class="hero content-width">
    <img src="{section_banner_image}" alt="{section_banner_text}">
    
    <section class="overview">
      <div class="inner">
        <h1>{section_overview_title}</h1>
        {section_overview_paragraph}
      </div>
    </section>
  </section>
{/exp:channel:entries}

{exp:channel:entries channel="{current_channel}" limit="1" disable="categories|category_fields|member_data|pagination" entry_id="51"}
  <section class="content content-width clearfix">
    <h1 class="page-title">{title}</h1>
    
    <section class="page-content">
      {main_body_area}
      
      <div class="events">
      <!--Begin SermonAudio Link Button-->
        <SCRIPT LANGUAGE="JavaScript" type="text/javascript" src="http://www.sermonaudio.com/code_calendar.asp?sourceid=TheChapel"></SCRIPT>
      <!--End SermonAudio Link Button-->
      </div>

      
    </section>
{/exp:channel:entries}          
    <aside>
      <h1>More Chapel Events</h1>
      <nav>
        <ul>
      {exp:channel:entries channel="news_listing" disable="categories|category_fields|member_data|pagination"}
          <li><a href="{title_permalink='news-and-events/details'}">{title}</a></li>
      {/exp:channel:entries}
        </ul>
      </nav>
    </aside>
  </section>


{embed="_includes/.footer"}


