{preload_replace:current_channel="about"}

{exp:channel:entries channel="{current_channel}" limit="1" disable="categories|category_fields|member_data|pagination" entry_id="12"}

{embed="_includes/.doctype" entry_id="{entry_id}"}
{embed="_includes/.header"}

<section class="bread">
    <div class="content-width">
      <a href="{path=''}" class="home crumb">Home</a> \ <a href="{path='about'}" class="crumb">About</a> \ <span class="crumb">{title}</span>
    </div>
  </section>
  
  <section class="content content-width clearfix">
    <h1 class="page-title">{title}</h1>
    
    <section class="page-content">
    {main_body_area}
    
    {/exp:channel:entries}
      
      <div class="listing elders">
        <h1>Elders</h1>
        {exp:channel:entries channel="leaders" category="1" orderby="last_name" sort="asc" disable="category_fields|member_data|pagination"}
        <summary>
          {if "{leader_image}" != ""}<img src="{leader_image}" alt="{title}">{/if}
          <h1>{title} {last_name}</h1>
          {if "{position_title}" != ""}<em class="position">{position_title}</em>{/if}
          {if "{oversite_area}" != ""}<em class="oversite">{oversite_area}</em>{/if}
          {if "{elders_flock}" != ""}<em class="flock">Shepherd over the {elders_flock} Flock</em>{/if}
          <p class="summary">{bio_preview_overview}</p>
        </summary>
        {/exp:channel:entries}
        
        <h1>Office Staff</h1>
        {exp:channel:entries channel="leaders" category="2" orderby="last_name" sort="asc" disable="category_fields|member_data|pagination"}
        <summary>
          {if "{leader_image}" != ""}<img src="{leader_image}" alt="{title}">{/if}
          <h1>{title} {last_name}</h1>
          {if "{position_title}" != ""}<em class="position">{position_title}</em>{/if}
          {if "{oversite_area}" != ""}<em>{oversite_area}</em>{/if}
          <p class="summary">{bio_preview_overview}</p>
        </summary>
        {/exp:channel:entries}
        
        <h1>Custodial Staff</h1>
        {exp:channel:entries channel="leaders" category="3" orderby="last_name" sort="asc" disable="category_fields|member_data|pagination"}
        <summary>
          {if "{leader_image}" != ""}<img src="{leader_image}" alt="{title}">{/if}
          <h1>{title} {last_name}</h1>
          {if "{position_title}" != ""}<em class="position">{position_title}</em>{/if}
          {if "{oversite_area}" != ""}<em>{oversite_area}</em>{/if}
          <p class="summary">{bio_preview_overview}</p>
        </summary>
        {/exp:channel:entries}
      </div>
      
    </section>
    
    {exp:channel:entries channel="{current_channel}" limit="1" disable="categories|category_fields|member_data|pagination" entry_id="12"}
    <aside>
      {sidebar_area}
    </aside>
    {/exp:channel:entries}
    
  </section>


{embed="_includes/.footer"}
