{preload_replace:current_channel="news_listing"}

{exp:channel:entries channel="{current_channel}" limit="1" disable="categories|category_fields|member_data|pagination"}
{embed="_includes/.doctype" entry_id="{entry_id}"}

{embed="_includes/.header"}

  <section class="bread">
    <div class="content-width">
      <a href="{path=''}" class="home crumb">Home</a> \ <a href="{path='news-and-events'}" class="crumb">News & Events</a> \ <span class="crumb">{title}</span>
    </div>
  </section>
  
  <section class="content content-width clearfix">
    <h1 class="page-title">{title}</h1>
    
    <section class="page-content">
    
      {if "{event_date}" != ""}<h1>Event Date: {event_date}</h1>{/if}
      {news_body}
    </section>
    
    <aside>
      <p>If you'd like to see more, you can go <a href="{path='news-and-events'}">back to News & Events</a>.</p>
    </aside>
  </section>
{/exp:channel:entries}

{embed="_includes/.footer"}


