<table class="styled cols4">
<tbody>
 <tr>
  <th>Neighborhood</th>
  <th>Shepherd</th>
  <th>Host Location</th>
  <th>Contact</tH>
 </tr>
 <tr>
  <td>Bellbrook</td>
  <td>Dale Evans</td>
  <td>
    Host Varies<br>
    Call Contact
  </td>
  <td>
  Julie Resch
  </td>
 </tr>
 <tr>
  <td>
    Belmont
  </td>
  <td>
    Michael Engle
  </td>
  <td>
    Host Varies
  </td>
  <td>
    Amy Frederick
  </td>
 </tr>
 <tr>
  <td>Centerville</td>
  <td>
    Russ Kennedy
  </td>
  <td >
    Russ Kennedy<br>
    211 Marsha Jeanne Way<br>
    Centerville, OH
  </td>
  <td>
    Sheelah Beaver
  </td>
 </tr>
 <tr>
  <td>Franklin/Monroe</td>
  <td>
    Devon Berry
  </td>
  <td>
    Host Varies
  </td>
  <td>
    Becky Thompson
  </td>
 </tr>
 <tr>
  <td>Kettering
  </td>
  <td>
    Chad Bresson
  </td>
  <td>
    Host Varies
  </td>
  <td>
    Beth Black
  </td>
 </tr>
 <tr>
  <td>Miamisburg</td>
  <td>
    Mark Schindler
  </td>
  <td>
    Host Varies
  </td>
  <td>
    Amy Mitchell
  </td>
 </tr>
 <tr>
  <td>Springboro East</td>
  <td>
    Dan Turner
  </td>
  <td>
    Host Varies
  </td>
  <td>
    Debbie Simmons
  </td>
 </tr>
 <tr>
  <td>Springboro West</td>
  <td>
    Tim Rech
  </td>
  <td>
    Host Varies
  </td>
  <td>
    Lisa Watkins
  </td>
 </tr>
 <tr>
  <td>Waynesville/Lebanon</td>
  <td>
    Steve Vaughan
  </td>
  <td>
  Host Varies
  </td>
  <td>
    Lois Mascotti
  </td>
 </tr>
 <tr>
  <td>West Carrollton</td>
  <td>
    Tim Nixon
  </td>
  <td>
    Tim Nixon<br>
    5997 Munger Rd<br>
    Dayton, OH 45459
  </td>
  <td>
    Cheryl Watkins
  </td>
 </tr>
</tbody>
</table>


