/* Reset =================================================== */
html, body, body div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, hgroup, menu, nav, section, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

article, aside, figure, footer, header, hgroup, nav, section {
  display: block; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0; }

/* Fonts =================================================== */
/*  Font Awesome
    the iconic font designed for use with Twitter Bootstrap
    -------------------------------------------------------
    The full suite of pictographic icons, examples, and documentation
    can be found at: http://fortawesome.github.com/Font-Awesome/

    License
    -------------------------------------------------------
    The Font Awesome webfont, CSS, and LESS files are licensed under CC BY 3.0:
    http://creativecommons.org/licenses/by/3.0/ A mention of
    'Font Awesome - http://fortawesome.github.com/Font-Awesome' in human-readable
    source code is considered acceptable attribution (most common on the web).
    If human readable source code is not available to the end user, a mention in
    an 'About' or 'Credits' screen is considered acceptable (most common in desktop
    or mobile software).

    Contact
    -------------------------------------------------------
    Email: dave@davegandy.com
    Twitter: http://twitter.com/fortaweso_me
    Work: Lead Product Designer @ http://kyruus.com

    */
@font-face {
  font-family: 'FontAwesome';
  src: url("../fonts/FortAwesome-Font-Awesome-ee55c85/fontawesome-webfont.eot");
  src: url("../fonts/FortAwesome-Font-Awesome-ee55c85/fontawesome-webfont.eot?#iefix") format("eot"), url("../fonts/FortAwesome-Font-Awesome-ee55c85/fontawesome-webfont.woff") format("woff"), url("../fonts/FortAwesome-Font-Awesome-ee55c85/fontawesome-webfont.ttf") format("truetype"), url("../fonts/FortAwesome-Font-Awesome-ee55c85/fontawesome-webfont.svg#FontAwesome") format("svg");
  font-weight: normal;
  font-style: normal; }

/* Variables =================================================== */
/* Fonts
font-family:'HelveticaNeueW01-45Ligh';
font-family:'HelveticaNeueW01-75Bold';
font-family:'HelveticaNeueW01-55Roma';
*/
/* Mixins =================================================== */
/* Smallest ========================================= */
html {
  font-size: 16px;
  width: 100%;
  -webkit-text-size-adjust: none; }

body {
  font-size: 16px;
  font-size: 1rem;
  font-family: "HelveticaNeueW01-55Roma", Arial, sans-serif;
  color: #636466;
  font-weight: 100;
  width: 100%;
  background: #edeeef; }
  body * {
    -webkit-transition: 0.2s all;
    -moz-transition: 0.2s all;
    -ms-transition: 0.2s all;
    -o-transition: 0.2s all;
    transition: 0.2s all; }

a {
  text-decoration: none;
  color: #57b1fb;
  -webkit-transition: 0.2s all;
  -moz-transition: 0.2s all;
  -ms-transition: 0.2s all;
  -o-transition: 0.2s all;
  transition: 0.2s all; }
  a:hover {
    color: #ff2151; }

.wrapper {
  background: white;
  float: left;
  width: 100%; }

.content-width {
  max-width: 95%;
  margin: 0 auto;
  text-align: left; }

img {
  max-width: 100%; }

h1, h2, h3, h4, h5, h6 {
  color: #002752;
  margin: 0;
  font-family: "HelveticaNeueW01-45Ligh";
  font-weight: 100; }

h1 {
  font-size: 32px;
  font-size: 2rem; }

p {
  margin-bottom: 1em; }

.more {
  font-weight: 100;
  text-transform: uppercase;
  font-size: 12.8px;
  font-size: 0.8rem;
  margin-top: .5em;
  margin-bottom: 0; }

header[role="main"],
header.main {
  background: #002752;
  color: white;
  float: left;
  width: 100%;
  padding: 1em 0;
  margin-bottom: 1em; }
  header[role="main"] .content-width,
  header.main .content-width {
    text-align: center; }
  header[role="main"] h1,
  header.main h1 {
    color: white;
    font-family: Georgia, Times, "Times New Roman";
    font-weight: 100;
    text-transform: uppercase;
    font-size: 17.6px;
    font-size: 1.1rem;
    -webkit-text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
    -moz-text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
    letter-spacing: 1px;
    display: inline-block; }
    header[role="main"] h1 img,
    header.main h1 img {
      display: inline-block;
      margin-right: .5em;
      margin-top: -1px;
      float: left;
      max-width: 58px;
      width: 58px; }
    header[role="main"] h1 a,
    header.main h1 a {
      color: white; }
      header[role="main"] h1 a:hover,
      header.main h1 a:hover {
        color: #57b1fb; }
  header[role="main"] nav,
  header.main nav {
    float: left;
    width: 100%; }
    header[role="main"] nav .menu-link,
    header.main nav .menu-link {
      display: inline-block;
      color: white;
      text-transform: uppercase;
      font-weight: 700;
      font-size: 14.4px;
      font-size: 0.9rem;
      margin: 1em auto 0; }
      header[role="main"] nav .menu-link:before,
      header.main nav .menu-link:before {
        content: "\f0c9";
        display: inline-block;
        margin-right: .5em;
        font-family: 'FontAwesome'; }
      header[role="main"] nav .menu-link:hover,
      header.main nav .menu-link:hover {
        color: #57b1fb; }
    header[role="main"] nav ul,
    header.main nav ul {
      margin: 1em 0 0;
      display: none;
      width: 100%;
      float: right;
      -webkit-transition: none;
      -moz-transition: none;
      -ms-transition: none;
      -o-transition: none;
      transition: none;
      font-size: 12.8px;
      font-size: 0.8rem; }
      header[role="main"] nav ul li,
      header.main nav ul li {
        display: block;
        width: 50%;
        float: left;
        margin: 0.2em 0; }
        header[role="main"] nav ul li a,
        header.main nav ul li a {
          display: block;
          color: #57b1fb;
          padding: 0.5em 0; }
          header[role="main"] nav ul li a:hover,
          header.main nav ul li a:hover {
            background: #57b1fb;
            color: white;
            -webkit-text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
            -moz-text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
            text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3); }
          header[role="main"] nav ul li a.on,
          header.main nav ul li a.on {
            color: white; }

.hero {
  margin-bottom: 2%; }
  .hero img {
    margin-bottom: 2%;
    width: 100%; }
  .hero .overview {
    color: #002752;
    padding: 1em;
    font-family: Georgia, Times, "Times New Roman";
    padding: 0;
    font-size: 14.4px;
    font-size: 0.9rem;
    line-height: 1.4em;
    background: #57b1fb;
    overflow: hidden; }
    .hero .overview .inner {
      padding: 1em;
      color: #002752; }
      .hero .overview .inner h1 {
        color: white;
        font-family: "HelveticaNeueW01-75Bold";
        padding-bottom: .5em;
        font-size: 24px;
        font-size: 1.5rem;
        font-weight: 100; }
      .hero .overview .inner h2, .hero .overview .inner h3, .hero .overview .inner h4, .hero .overview .inner h5, .hero .overview .inner h6 {
        font-family: Georgia, Times, "Times New Roman";
        display: block;
        font-weight: 900; }
      .hero .overview .inner img {
        width: auto;
        max-width: 100%; }
      .hero .overview .inner a {
        color: white; }
        .hero .overview .inner a:hover {
          color: #002752; }

.bread {
  text-transform: uppercase;
  font-size: 12.8px;
  font-size: 0.8rem;
  font-weight: 500;
  color: #adb0b2;
  padding: 1em 0;
  clear: both; }
  .bread .crumb {
    margin: 0 0.5em; }
    .bread .crumb:first-child {
      margin-left: 0; }
    .bread .crumb.home:before {
      font-family: 'FontAwesome';
      content: "\f015";
      display: inline-block;
      margin-right: .5em; }
  .bread a {
    color: #adb0b2; }
    .bread a:hover {
      color: #002752; }

.featured-blocks,
.subnav {
  padding-bottom: 2em; }
  .featured-blocks .block,
  .subnav .block {
    margin: 1em 0 1em 0;
    display: block;
    color: white;
    cursor: pointer;
    font-weight: 100; }
    .featured-blocks .block h1,
    .subnav .block h1 {
      display: block;
      font-size: 24px;
      font-size: 1.5rem;
      font-weight: 100;
      color: white; }
    .featured-blocks .block.first,
    .subnav .block.first {
      background: #a6cf39 url(../img/featured-block-flocks.jpg) no-repeat right top; }
    .featured-blocks .block.second,
    .subnav .block.second {
      background: #fba61a url(../img/featured-block-sermons.jpg) no-repeat right top; }
    .featured-blocks .block.third,
    .subnav .block.third {
      background: #30bcbd url(../img/featured-block-news.jpg) no-repeat right top; }
    .featured-blocks .block:hover .more,
    .subnav .block:hover .more {
      color: black; }

.featured-blocks {
  clear: both; }
  .featured-blocks .block {
    padding: 0.5em 1em;
    padding-right: 5em; }

.subnav {
  float: left;
  width: 100%; }
  .subnav ul {
    list-style: none;
    text-align: center; }
    .subnav ul li {
      display: block;
      float: left;
      max-width: 49%;
      width: 49%;
      margin: 0 2% 2% 0;
      padding: 0; }
      .subnav ul li a.block {
        text-transform: uppercase;
        font-weight: 700;
        line-height: 1.2em;
        position: relative;
        padding-bottom: 84.5%;
        margin-top: 0;
        margin-bottom: 0; }
        .subnav ul li a.block h1 {
          display: block;
          font-size: 12.8px;
          font-size: 0.8rem;
          font-weight: 100;
          text-transform: lowercase;
          z-index: 1000;
          position: absolute;
          width: 100%;
          line-height: 1em;
          top: 75%;
          padding: 0 0.5em;
          font-family: "HelveticaNeueW01-75Bold"; }
        .subnav ul li a.block img {
          display: block;
          position: absolute;
          z-index: 1000;
          width: 100%;
          margin: 0;
          padding: 0; }
        .subnav ul li a.block:hover h1 {
          color: #002752;
          color: rgba(0, 0, 0, 0.4); }
      .subnav ul li:nth-child(2n+2) {
        margin-right: 0; }
      .subnav ul li.two-cols {
        width: 100%;
        max-width: 100%; }

.content {
  clear: both; }
  .content h1.page-title {
    font-size: 32px;
    font-size: 2rem;
    font-weight: 100;
    color: #57b1fb;
    margin-bottom: .5em;
    padding-bottom: .5em;
    border-bottom: 1px solid #57b1fb;
    text-transform: uppercase; }
  .content time {
    display: block;
    text-transform: uppercase;
    font-size: 12.8px;
    font-size: 0.8rem;
    color: #92969a; }
  .content summary {
    margin-bottom: 2em;
    padding-bottom: 2em;
    border-bottom: 1px solid #c7c9cb;
    display: block; }
    .content summary h1 {
      font-size: 24px;
      font-size: 1.5rem;
      font-family: "HelveticaNeueW01-45Ligh";
      font-weight: 100;
      color: black;
      font-weight: 100; }
    .content summary em {
      font-family: "HelveticaNeueW01-55Roma", Arial, sans-serif;
      line-height: 1.5em;
      color: #969799; }
    .content summary cite, .content summary em {
      font-style: normal;
      display: block;
      font-size: 14.4px;
      font-size: 0.9rem; }
    .content summary img {
      margin-bottom: 1em;
      max-width: 100%; }
    .content summary:last-child {
      border-bottom: none; }

.page-content {
  line-height: 1.6em; }
  .page-content h1, .page-content h2, .page-content h3, .page-content h4, .page-content h5, .page-content h6 {
    font-family: "HelveticaNeueW01-55Roma", Arial, sans-serif;
    font-weight: 100;
    line-height: 1.4em;
    margin-top: .5em; }
  .page-content h1 {
    font-size: 32px;
    font-size: 2rem;
    color: #636466;
    font-family: "HelveticaNeueW01-75Bold";
    margin-bottom: .5em;
    margin-top: 0; }
  .page-content h2 {
    font-size: 28px;
    font-size: 1.75rem;
    color: #57b1fb; }
  .page-content h3 {
    font-size: 24px;
    font-size: 1.5rem;
    color: #57b1fb; }
  .page-content h4 {
    font-size: 20px;
    font-size: 1.25rem;
    color: black; }
  .page-content h5 {
    font-size: 16px;
    font-size: 1rem;
    color: black;
    text-transform: uppercase;
    font-family: "HelveticaNeueW01-75Bold"; }
  .page-content h6 {
    font-size: 16px;
    font-size: 1rem;
    color: #262626;
    font-family: "HelveticaNeueW01-75Bold"; }
  .page-content p {
    margin-bottom: 1em; }
  .page-content ul, .page-content ol {
    padding-left: 1.25em;
    margin-bottom: 1em; }
  .page-content blockquote {
    font-style: normal;
    font-size: 17.6px;
    font-size: 1.1rem;
    color: #57b1fb;
    margin-bottom: 1em; }
  .page-content .feed, .page-content .listing {
    margin-top: 2em; }
  .page-content table.styled {
    width: 100%;
    max-width: 100%;
    margin-bottom: 1em;
    border-collapse: collapse;
    font-size: 11.2px;
    font-size: 0.7rem;
    line-height: 1.5em; }
    .page-content table.styled th {
      background: #f2f2f2; }
    .page-content table.styled th, .page-content table.styled td {
      border: 1px solid #c7c9cb;
      padding: 0.2em 0.5em; }
    .page-content table.styled.cols4 {
      width: 25%; }
  .page-content #cc_map {
    width: 100%;
    height: 20em;
    background: #f2f2f2; }
  .page-content .events {
    background: #f2f2f2; }
    .page-content .events font {
      font-family: "HelveticaNeueW01-55Roma", Arial, sans-serif;
      font-weight: 100;
      color: #636466; }
      .page-content .events font b {
        font-family: "HelveticaNeueW01-75Bold";
        font-weight: 100;
        color: black; }
    .page-content .events hr {
      display: none; }

aside {
  line-height: 1.7em;
  border-top: 5px solid #002752;
  padding-top: 2em;
  margin-bottom: 3em;
  /*h1 { @include font-size(1.5); color: $primarylighter; margin-top: 0; }
  h2 { @include font-size(1.4); color: $black; }
  h3 { @include font-size(1.3); color: $black; }
  h4 { @include font-size(1.2); color: $black; }
  h5 { @include font-size(1.1); color: $black; text-transform: uppercase; font-family: $baseboldfont; }
  h6 { @include font-size(1); color: $black; font-family: $baseboldfont; }*/ }
  aside h1, aside h2, aside h3, aside h4, aside h5, aside h6 {
    line-height: 1.4em;
    margin-top: .5em; }
  aside h1 {
    font-size: 32px;
    font-size: 2rem;
    color: #636466;
    font-family: "HelveticaNeueW01-75Bold";
    margin-bottom: .5em;
    margin-top: 0; }
  aside h2 {
    font-size: 28px;
    font-size: 1.75rem;
    color: #57b1fb; }
  aside h3 {
    font-size: 24px;
    font-size: 1.5rem;
    color: #57b1fb; }
  aside h4 {
    font-size: 20px;
    font-size: 1.25rem;
    color: black; }
  aside h5 {
    font-size: 16px;
    font-size: 1rem;
    color: black;
    text-transform: uppercase;
    font-family: "HelveticaNeueW01-75Bold"; }
  aside h6 {
    font-size: 16px;
    font-size: 1rem;
    color: #262626;
    font-family: "HelveticaNeueW01-75Bold"; }
  aside ul, aside ol {
    padding-left: 1.25em;
    margin-bottom: 1em; }
  aside blockquote {
    font-style: normal;
    font-size: 16px;
    font-size: 1rem;
    color: #57b1fb;
    margin-bottom: 1em; }

footer[role="main"],
footer.main {
  margin: 0 auto 2em;
  padding: 2em 0;
  font-size: 12.8px;
  font-size: 0.8rem;
  text-align: center;
  background: #edeeef;
  clear: both; }
  footer[role="main"] a:hover,
  footer.main a:hover {
    color: #ff2151; }
  footer[role="main"] nav,
  footer.main nav {
    display: block;
    margin-bottom: 1em; }
    footer[role="main"] nav ul li,
    footer.main nav ul li {
      display: none; }
      footer[role="main"] nav ul li.top-level,
      footer.main nav ul li.top-level {
        display: block;
        margin: 0 0 1em 0; }
        footer[role="main"] nav ul li.top-level h2,
        footer.main nav ul li.top-level h2 {
          font-weight: 100;
          font-family: "HelveticaNeueW01-75Bold"; }
  footer[role="main"] address,
  footer.main address {
    font-style: normal; }
  footer[role="main"] small,
  footer[role="main"] span,
  footer[role="main"] a,
  footer.main small,
  footer.main span,
  footer.main a {
    display: block;
    font-style: normal;
    color: #636466; }
  footer[role="main"] .phone,
  footer.main .phone {
    display: block; }
  footer[role="main"] small,
  footer.main small {
    clear: both; }

/* 480 =================================================== */
/* 600 =================================================== */
header[role="main"],
header.main {
  padding-bottom: .5em; }
  header[role="main"] nav,
  header.main nav {
    width: 100%; }
    header[role="main"] nav .menu-link,
    header.main nav .menu-link {
      display: none; }
    header[role="main"] nav ul,
    header.main nav ul {
      margin-top: 1em;
      display: block !important;
      width: 100%;
      font-size: 15.2px;
      font-size: 0.95rem;
      text-align: center; }
      header[role="main"] nav ul li,
      header.main nav ul li {
        display: inline-block;
        width: auto;
        float: none; }
        header[role="main"] nav ul li a,
        header.main nav ul li a {
          padding: 0.5em 0.7em; }

.featured-blocks .block {
  padding-top: 1.5em;
  padding-bottom: 1.5em; }

.subnav ul li {
  display: block;
  float: left;
  max-width: 31.9%;
  width: 31.9%;
  margin-right: 2.4%; }
  .subnav ul li:nth-child(2n+2) {
    margin-right: 2.4%;
    clear: none; }
  .subnav ul li:nth-child(3n+3) {
    margin-right: 0;
    margin-left: -1%;
    float: right; }
  .subnav ul li.two-cols {
    width: 66.06%;
    max-width: 66.06%;
    margin-right: 0;
    float: right; }

.content h1.page-title {
  margin-bottom: 1em;
  font-size: 40px;
  font-size: 2.5rem; }

.page-content table.styled {
  font-size: 16px;
  font-size: 1rem; }
  .page-content table.styled th, .page-content table.styled td {
    padding: 0.5em 1em; }
  .page-content table.styled.cols4 {
    width: auto; }

.listing {
  margin-top: 4em; }
  .listing summary {
    clear: both; }
    .listing summary img {
      float: right;
      margin: 0;
      padding: 0 0 1em 1.5em;
      max-width: 25%; }
  .listing.elders summary img {
    max-height: 186px; }

/* 768 =================================================== */
/* 960 =================================================== */
.content-width {
  text-align: left; }

header[role="main"],
header.main {
  padding: 1em 0; }
  header[role="main"] h1,
  header.main h1 {
    float: left; }
    header[role="main"] h1 img,
    header.main h1 img {
      max-width: 45px; }
  header[role="main"] nav,
  header.main nav {
    float: right;
    width: auto;
    margin-top: .2em; }
    header[role="main"] nav .menu-link,
    header.main nav .menu-link {
      display: none; }
    header[role="main"] nav ul,
    header.main nav ul {
      margin: 0;
      display: block !important;
      width: auto;
      float: right;
      font-size: 15.2px;
      font-size: 0.95rem; }
      header[role="main"] nav ul li,
      header.main nav ul li {
        display: block;
        width: auto;
        float: left;
        margin: 0 0 0 1.2em; }
        header[role="main"] nav ul li a,
        header.main nav ul li a {
          padding: 0; }
          header[role="main"] nav ul li a:hover,
          header.main nav ul li a:hover {
            background: #002752;
            color: white; }

.hero img {
  max-width: 66.25%;
  width: 66.25%;
  float: left;
  margin-bottom: 1.28%; }
.hero .overview {
  float: right;
  width: 32.6%;
  padding-bottom: 27.85%;
  font-size: 13.6px;
  font-size: 0.85rem;
  position: relative; }
  .hero .overview .inner {
    position: absolute;
    left: 0;
    top: 0; }
    .hero .overview .inner img {
      width: auto;
      max-width: 100%; }

.featured-blocks {
  clear: both; }
  .featured-blocks .block {
    width: 32.5%;
    float: left;
    margin-right: 1.2%;
    text-align: left;
    min-height: 10em;
    margin-top: .4em;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    padding-top: .5em;
    padding-bottom: .5em; }
    .featured-blocks .block h1 {
      font-size: 24px;
      font-size: 1.5rem; }
    .featured-blocks .block.first {
      background-position: right 0; }
    .featured-blocks .block.second {
      background-position: right 0; }
    .featured-blocks .block.third {
      background-position: right 0;
      margin-right: 0; }
    .featured-blocks .block:hover {
      /*&.first { 
        background-position: right -5px; 
      }
      
      &.second {
        background-position: right -5px; 
      }
      
      &.third {
        background-position: right -5px; 
        margin-right: 0;
      }*/ }

.subnav ul {
  margin: 0;
  text-align: left; }
  .subnav ul li {
    float: left;
    display: block;
    font-size: 16px;
    font-size: 1rem;
    width: 15.6%;
    margin: 0 1.28% 0 0;
    text-align: center; }
    .subnav ul li a.block {
      margin: 0; }
      .subnav ul li a.block h1 {
        font-size: 12px;
        font-size: 0.75rem;
        padding: 0 0.5em; }
    .subnav ul li:nth-child(2n+2) {
      margin-right: 1.28%;
      clear: none; }
    .subnav ul li:nth-child(3n+3) {
      margin-right: 1.28%;
      clear: none;
      float: left;
      margin-left: 0; }
    .subnav ul li:nth-child(6n+6), .subnav ul li:last-child {
      margin-right: 0; }
    .subnav ul li.two-cols {
      width: 32.48%; }

.content {
  margin-bottom: 2em; }
  .content .page-overview,
  .content .page-content {
    float: left;
    width: 65%; }
  .content aside {
    border-top: 0;
    margin-top: 0;
    padding-top: 0;
    float: right;
    width: 30%; }

footer[role="main"],
footer.main {
  padding: 1em 0;
  font-size: 12.8px;
  font-size: 0.8rem;
  text-align: left; }
  footer[role="main"] nav,
  footer.main nav {
    display: block;
    max-width: 81%;
    width: 83%; }
    footer[role="main"] nav ul,
    footer.main nav ul {
      float: left;
      width: 18%;
      clear: none;
      margin-right: 1%; }
      footer[role="main"] nav ul li,
      footer.main nav ul li {
        display: block;
        width: 100%;
        margin-bottom: .5em; }
        footer[role="main"] nav ul li.top-level,
        footer.main nav ul li.top-level {
          display: block; }
  footer[role="main"] address,
  footer.main address {
    float: right;
    width: 17%;
    clear: none; }
  footer[role="main"] small,
  footer[role="main"] span,
  footer[role="main"] a,
  footer.main small,
  footer.main span,
  footer.main a {
    display: inline-block;
    margin-right: 1em; }
  footer[role="main"] small,
  footer.main small {
    width: 100%;
    padding: 2em 0; }

/* IE Bug Fixes ========================================== */
/* http://responsiveslides.com v1.32 by @viljamis */
.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0; }

.rslides li {
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0; }

.rslides li:first-child {
  position: relative;
  display: block;
  float: left; }

.rslides img {
  display: block;
  height: auto;
  float: left;
  width: 100%;
  border: 0; }
